In [1]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install yellowbrick

Requirement already satisfied: yellowbrick in c:\users\timg1\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.13.0 in c:\users\timg1\anaconda3\lib\site-packages (from yellowbrick) (1.19.2)
Requirement already satisfied: cycler>=0.10.0 in c:\users\timg1\anaconda3\lib\site-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in c:\users\timg1\anaconda3\lib\site-packages (from yellowbrick) (3.3.2)
Requirement already satisfied: scipy<1.6,>=1.0.0 in c:\users\timg1\anaconda3\lib\site-packages (from yellowbrick) (1.5.2)
Requirement already satisfied: scikit-learn<0.24,>=0.20 in c:\users\timg1\anaconda3\lib\site-packages (from yellowbrick) (0.23.2)
Requirement already satisfied: six in c:\users\timg1\anaconda3\lib\site-packages (from cycler>=0.10.0->yellowbrick) (1.15.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (8.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\timg1\anaconda3\lib\site-packages (from scikit-learn<0.24,>=0.20->yellowbrick) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\timg1\anaconda3\lib\site-packages (from scikit-learn<0.24,>=0.20->yellowbrick) (0.17.0)

In [2]:
# import libraries
import matplotlib.pyplot as plt
import pandas as pd
import xlrd
import yellowbrick
from sklearn import (ensemble, preprocessing, tree)
from sklearn.metrics import (auc, confusion_matrix, roc_auc_score, roc_curve)
from sklearn.model_selection import (train_test_split, StratifiedKFold)
from yellowbrick.classifier import (ConfusionMatrix, ROCAUC)
from yellowbrick.model_selection import (LearningCurve)

In [3]:
# Load Titanic data
url = (
    "https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.xls")

In [4]:
df = pd.read_excel(url)
orig_df = df

In [5]:
df.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [6]:
!{sys.executable} -m pip install pandas_profiling
import pandas_profiling

Requirement already satisfied: pandas_profiling in c:\users\timg1\anaconda3\lib\site-packages (2.10.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.11.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (1.1.3)
Requirement already satisfied: confuse>=1.0.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (1.4.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (1.19.2)
Requirement already satisfied: visions[type_image_path]==0.6.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.6.0)
Requirement already satisfied: phik>=0.10.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.11.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (4.50.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (20.3.0)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (3.3.2)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.0.6)
Requirement already satisfied: ipywidgets>=7.5.1 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (7.5.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied: joblib in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (0.17.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\timg1\anaconda3\lib\site-packages (from pandas_profiling) (1.5.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\timg1\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\timg1\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2.8.1)
Requirement already satisfied: pyyaml in c:\users\timg1\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas_profiling) (5.3.1)
Requirement already satisfied: networkx>=2.4 in c:\users\timg1\anaconda3\lib\site-packages (from visions[type_image_path]==0.6.0->pandas_profiling) (2.5)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\timg1\anaconda3\lib\site-packages (from visions[type_image_path]==0.6.0->pandas_profiling) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\timg1\anaconda3\lib\site-packages (from visions[type_image_path]==0.6.0->pandas_profiling) (8.0.1)
Requirement already satisfied: numba>=0.38.1 in c:\users\timg1\anaconda3\lib\site-packages (from phik>=0.10.0->pandas_profiling) (0.51.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\timg1\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\timg1\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\timg1\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\timg1\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: cycler>=0.10 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\timg1\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\timg1\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.0.8)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\timg1\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.3.4)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\timg1\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (7.19.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\timg1\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.0.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\timg1\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (3.5.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\timg1\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\timg1\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\timg1\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.6.0->pandas_profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\timg1\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas_profiling) (1.1.1)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in c:\users\timg1\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.10.0->pandas_profiling) (0.34.0)
Requirement already satisfied: setuptools in c:\users\timg1\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.10.0->pandas_profiling) (50.3.1.post20201107)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\timg1\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (3.2.0)
Requirement already satisfied: ipython-genutils in c:\users\timg1\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied: jupyter-core in c:\users\timg1\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (4.6.3)
Requirement already satisfied: jupyter-client in c:\users\timg1\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.1.7)
Requirement already satisfied: tornado>=4.2 in c:\users\timg1\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.0.4)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\timg1\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\timg1\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (3.0.8)
Requirement already satisfied: pygments in c:\users\timg1\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (2.7.2)
Requirement already satisfied: jedi>=0.10 in c:\users\timg1\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.17.1)
Requirement already satisfied: backcall in c:\users\timg1\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\timg1\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\timg1\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (6.1.4)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\timg1\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.17.3)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\timg1\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (227)
Requirement already satisfied: pyzmq>=13 in c:\users\timg1\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (19.0.2)
Requirement already satisfied: wcwidth in c:\users\timg1\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\timg1\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.0)
Requirement already satisfied: Send2Trash in c:\users\timg1\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.5.0)
Requirement already satisfied: nbconvert in c:\users\timg1\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (6.0.7)
Requirement already satisfied: argon2-cffi in c:\users\timg1\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (20.1.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\timg1\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.9.1)
Requirement already satisfied: prometheus-client in c:\users\timg1\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.3)
Requirement already satisfied: bleach in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (3.2.1)
Requirement already satisfied: testpath in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.4.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.4.3)
Requirement already satisfied: defusedxml in c:\users\timg1\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.6.0)
Requirement already satisfied: cffi>=1.0.0 in c:\users\timg1\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.14.3)
Requirement already satisfied: pywinpty>=0.5 in c:\users\timg1\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.7)
Requirement already satisfied: webencodings in c:\users\timg1\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.1)
Requirement already satisfied: packaging in c:\users\timg1\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (20.4)
Requirement already satisfied: async-generator in c:\users\timg1\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\timg1\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.4.2)
Requirement already satisfied: pycparser in c:\users\timg1\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (2.20)

In [7]:
df.shape

(1309, 14)

In [8]:
# describe, just first two columns
df.describe().iloc[:, :2]

            pclass     survived
count  1309.000000  1309.000000
mean      2.294882     0.381971
std       0.837836     0.486055
min       1.000000     0.000000
25%       2.000000     0.000000
50%       3.000000     0.000000
75%       3.000000     1.000000
max       3.000000     1.000000

In [9]:
# identify missing data, 0 = no missing data, > 0 is the count of missing data
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [10]:
df.isnull().sum(axis=1).loc[:10]

0     1
1     1
2     2
3     1
4     2
5     1
6     1
7     2
8     1
9     2
10    1
dtype: int64

In [11]:
mask = df.isnull().any(axis=1)

In [12]:
mask.head() # rows

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [13]:
df[mask].body.head()

0      NaN
1      NaN
2      NaN
3    135.0
4      NaN
Name: body, dtype: float64

In [14]:
df.sex.value_counts(dropna=False)

male      843
female    466
Name: sex, dtype: int64

In [15]:
df.embarked.value_counts(dropna=False)

S      914
C      270
Q      123
NaN      2
Name: embarked, dtype: int64

In [16]:
name = df.name
name.head(3)

0     Allen, Miss. Elisabeth Walton
1    Allison, Master. Hudson Trevor
2      Allison, Miss. Helen Loraine
Name: name, dtype: object

In [17]:
# p.24
df = pd.get_dummies(df)
df.columns

Index(['pclass', 'survived', 'age', 'sibsp', 'parch', 'fare', 'body',
       'name_Abbing, Mr. Anthony', 'name_Abbott, Master. Eugene Joseph',
       'name_Abbott, Mr. Rossmore Edward',
       ...
       'home.dest_Wimbledon Park, London / Hayling Island, Hants',
       'home.dest_Windsor, England New York, NY', 'home.dest_Winnipeg, MB',
       'home.dest_Winnipeg, MN', 'home.dest_Woodford County, KY',
       'home.dest_Worcester, England', 'home.dest_Worcester, MA',
       'home.dest_Yoevil, England / Cottage Grove, OR',
       'home.dest_Youngstown, OH', 'home.dest_Zurich, Switzerland'],
      dtype='object', length=2841)

In [18]:
# remove perfectly correlated columns
df = df.drop(columns="sex_male")

In [19]:
y = df.survived
X = df.drop(columns="survived")

In [29]:
df.head()

,pclass,survived,age,sibsp,parch,fare,body,"name_Abbing, Mr. Anthony","name_Abbott, Master. Eugene Joseph","name_Abbott, Mr. Rossmore Edward",...,"home.dest_Wimbledon Park, London / Hayling Island, Hants","home.dest_Windsor, England New York, NY","home.dest_Winnipeg, MB","home.dest_Winnipeg, MN","home.dest_Woodford County, KY","home.dest_Worcester, England","home.dest_Worcester, MA","home.dest_Yoevil, England / Cottage Grove, OR","home.dest_Youngstown, OH","home.dest_Zurich, Switzerland"
0,1,1,29.0000,0,0,211.3375,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0.9167,1,2,151.5500,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,2.0000,1,2,151.5500,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,30.0000,1,2,151.5500,135.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,25.0000,1,2,151.5500,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body,"name_Abbing, Mr. Anthony","name_Abbott, Master. Eugene Joseph","name_Abbott, Mr. Rossmore Edward",...,"home.dest_Wimbledon Park, London / Hayling Island, Hants","home.dest_Windsor, England New York, NY","home.dest_Winnipeg, MB","home.dest_Winnipeg, MN","home.dest_Woodford County, KY","home.dest_Worcester, England","home.dest_Worcester, MA","home.dest_Yoevil, England / Cottage Grove, OR","home.dest_Youngstown, OH","home.dest_Zurich, Switzerland"
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000,1309.000000,1309.000000,1309.000000,...,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917,0.000764,0.000764,0.000764,...,0.000764,0.000764,0.006112,0.000764,0.000764,0.000764,0.001528,0.000764,0.003056,0.002292
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922,0.027639,0.027639,0.027639,...,0.027639,0.027639,0.077967,0.027639,0.027639,0.027639,0.039073,0.027639,0.055216,0.047836
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
df.describe(include='all')

,pclass,survived,age,sibsp,parch,fare,body,"name_Abbing, Mr. Anthony","name_Abbott, Master. Eugene Joseph","name_Abbott, Mr. Rossmore Edward",...,"home.dest_Wimbledon Park, London / Hayling Island, Hants","home.dest_Windsor, England New York, NY","home.dest_Winnipeg, MB","home.dest_Winnipeg, MN","home.dest_Woodford County, KY","home.dest_Worcester, England","home.dest_Worcester, MA","home.dest_Yoevil, England / Cottage Grove, OR","home.dest_Youngstown, OH","home.dest_Zurich, Switzerland"
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000,1309.000000,1309.000000,1309.000000,...,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917,0.000764,0.000764,0.000764,...,0.000764,0.000764,0.006112,0.000764,0.000764,0.000764,0.001528,0.000764,0.003056,0.002292
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922,0.027639,0.027639,0.027639,...,0.027639,0.027639,0.077967,0.027639,0.027639,0.027639,0.039073,0.027639,0.055216,0.047836
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
# Sample Data
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=42)

NameError: name 'model_selection' is not defined